* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
  list-style-type: none;
  color: white;
}

.container {
  max-width: 100%;
}

@media only screen and (min-width: 480px) {
  .container {
    width: 1200px;
    margin: 0 auto;
  }
}

body {
  background-color: #1C252F;
}

/* Navigation */
#hamburger.inactive {
  -webkit-animation-name: rotatecounterclockwise;
          animation-name: rotatecounterclockwise;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

#hamburger.active {
  -webkit-animation-name: rotateclockwise;
          animation-name: rotateclockwise;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes rotatecounterclockwise {
  100% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}

@keyframes rotatecounterclockwise {
  100% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}

@-webkit-keyframes rotateclockwise {
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@keyframes rotateclockwise {
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

#hamburger:hover {
  cursor: pointer;
}

navigation {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 25px;
}

#nav {
  position: relative;
  font-weight: 500;
  width: 80%;
  margin: 25px auto;
  text-align: center;
  top: -200px;
}

#nav.inactive {
  -webkit-animation-name: slideup;
          animation-name: slideup;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#nav.active {
  -webkit-animation-name: slidedown;
          animation-name: slidedown;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes slidedown {
  0% {
    top: -200px;
    max-height: 0px;
  }
  100% {
    top: 0px;
    max-height: 76px;
  }
}

@keyframes slidedown {
  0% {
    top: -200px;
    max-height: 0px;
  }
  100% {
    top: 0px;
    max-height: 76px;
  }
}

@-webkit-keyframes slideup {
  0% {
    top: 0px;
    max-height: 76px;
  }
  100% {
    top: -200px;
    max-height: 0px;
  }
}

@keyframes slideup {
  0% {
    top: 0px;
    max-height: 76px;
  }
  100% {
    top: -200px;
    max-height: 0px;
  }
}

@media only screen and (min-width: 480px) {
  #hamburger {
    display: none;
  }
  #nav {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 20px;
    width: 300px;
    margin: 0;
  }
}

#hamburger span {
  background-color: white;
  border-radius: 3px;
  height: 3px;
  width: 25px;
  margin: 3px auto;
  display: block;
}

#logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#logo img {
  width: 55px;
  height: 55px;
}

#logo span {
  font-size: 48px;
  font-weight: 700;
  margin-left: 10px;
}

/* Header */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 50px;
  max-width: 90%;
  margin: 0 auto;
}

header .content {
  width: 375px;
}

header .content h1 {
  font-weight: 300;
  font-size: 42px;
}

header .content h2 {
  color: #FF474E;
  font-weight: 500;
  font-size: 24px;
}

header .content p {
  font-weight: 300;
  font-size: 22px;
  line-height: 33px;
  margin-top: 40px;
}

header .content p strong {
  font-weight: 600;
}

header .content button {
  font-weight: 500;
  font-size: 20px;
  color: black;
  background-color: #FDD777;
  border: none;
  border-radius: 6px;
  padding: 7px 35px;
  margin-top: 20px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

header .content button:hover {
  cursor: pointer;
  border: 1px solid black;
  background-color: #fcc12c;
}
/*# sourceMappingURL=style.css.map */