@use 'partials/abstracts';
@use 'partials/base';
@use 'partials/components';
@use 'partials/layout';

// Projects
.project-container {
  position: relative;
}

.project-img:hover {
  border: 3px solid abstracts.$red;
  opacity: 0.4;
}

.project-content {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.project-content:hover,
.project-img:hover + .project-content {
  opacity: 1;
}

// Skills
#skills-and-experience {
  img {
    height: 40px;
  }

  .circle {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: abstracts.$yellow;
  }

  .experience {
    padding: 0;

    li {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      background-color: #495058;
      height: 110px;
      border-radius: 55px;

      p {
        margin: 0;
      }
    }
  }
}

@media (min-width: 768px) {
  #skills-and-experience .experience {
    li {
      flex-direction: row;
      text-align: left;
    }

    p {
      width: 20%;
    }
  }
}

#lower-nav {
  text-align: center;

  .links {
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }

  a.top {
    width: 28px;
  }

  .links a {
    width: 100px;
  }
}

footer {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center;

  .upper {

    h4 {
      display: none;
    }

    p {
      color: abstracts.$yellow;
    }
  }
}

@media (min-width: 992px) {

  footer {
    text-align: left;

    .upper {
      display: flex;
      align-items: flex-end;
      justify-content: end;

      h4 {
        display: block;
        font-family: 'Libre Caslon Display', serif;
        font-size: 72px;
        line-height: 72px;
        margin: 0 auto 0 0;
      }

      div {
        margin-left: 100px;
      }
    }
  }
}